<footer>
  <div class="row">
    <div class="twelve columns">
      <p><a href="{{site.baseurl}}/introduction/license.html">版权声明</a> | last modified on {{ page.modifiedOn | date: "%Y-%m-%d" }} </p>
    </div>
  </div>
  <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
</footer>
<script>
  var cloudTieConfig = {
    url: document.location.href,
    sourceId: "",
    productKey: "981b1e3f44fd42e5b5f0d9e3365320d1",
    target: "cloud-tie-wrapper"
  };
</script>
<script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
</body>

</html>
